
tensorflow[cpu] == 2.10.1
transformers == 4.56.0
fastapi == 0.117.0
httpx == 0.28.1
pydantic == 2.11.9
uvicorn[standard] == 0.36.0
numpy == 1.26.4
pandas == 2.3.2
azure-monitor-opentelemetry == 1.8.1
